# use python >= 3.7, <3.9 venv, due to dependencies of the owl2vec*
scispacy == 0.5.0
#  pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_core_sci_sm-0.5.0.tar.gz
#  pip install /home/huseyin/Downloads/en_core_sci_sm-0.5.0.tar.gz
rdflib
pandas
git+https://github.com/KRR-Oxford/OWL2Vec-Star.git@v0.2.1#egg=owl2vec_star
gensim==4.2.0
numpy==1.23.3
